<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Yurt_Otomasyon2.Properties.Settings.Database1ConnectionString"
        connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Users\GULAY-PC\Documents\Database1.accdb"
        providerName="System.Data.OleDb" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
